.feed{
    margin-top: 28px;
}

.feed__title{
    font-size: 50px;
    font-weight: bold;
}
.feed__list{
    margin-left: 200px;
}

.feed__list-item{
    border-bottom: 2px solid #f5f5f5; 
    padding-bottom: 24px;
    padding-top: 36px;
}
.feed__img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-size: 160px;
    float: left;
    margin-right: 20px;
}

.feed__text{
    float: left;
    width: 718px;
    padding-top: 17px;
}
.feed__date{
    color: #adacac;
    font-size: 14px;
    margin-top: -16px;
}
.feed__desk{
    font-weight: bold;
    font-size: 18px;
    margin-top: 6px;
}
.feed__opisan{
    margin-top: 16px;
    line-height: 2;
    font-size: 16px;
}